<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	
	
	<!-- Image streaming for custom dynamic images -->
	<servlet>
		<servlet-name>imageServlet</servlet-name>
		<servlet-class>org.mdissjava.mdisscore.view.upload.DynamicImageSevlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>imageServlet</servlet-name>
		<url-pattern>/dynamic/image/*</url-pattern>
	</servlet-mapping>
	
	
	<!-- JSF 2 -->
	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
  
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
  	
  	<!-- Spring security -->
  	
  	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/applicationContext-security.xml</param-value>
	</context-param>
  	
  	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
  	
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
    	<filter-name>springSecurityFilterChain</filter-name>
    	<url-pattern>/j_spring_security_logout</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
  	
  	<!-- Pretty faces -->
  
  	<filter>
		<filter-name>Pretty Filter</filter-name>
		<filter-class>com.ocpsoft.pretty.PrettyFilter</filter-class>
	</filter>
	
	<filter-mapping> 
		<filter-name>Pretty Filter</filter-name> 
		<url-pattern>/*</url-pattern> 
		<dispatcher>FORWARD</dispatcher> 
		<dispatcher>REQUEST</dispatcher> 
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
	<!-- Custom filter -->
	
	<filter>
        <filter-name>Restrict Page Access Filter</filter-name>
        <filter-class>org.mdissjava.mdisscore.filter.RestrictPageAccessFilter</filter-class>
    </filter>
    
    <filter-mapping>
          <filter-name>Restrict Page Access Filter</filter-name>
          <url-pattern>/faces/users/*</url-pattern>
          <url-pattern>/faces/upload/*</url-pattern>
          <dispatcher>FORWARD</dispatcher> 
		<dispatcher>REQUEST</dispatcher> 
		<dispatcher>ERROR</dispatcher>
    </filter-mapping>
  	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
  
    <!--file upload with 50MB max upload --> 
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>		
			org.primefaces.webapp.filter.FileUploadFilter	
		</filter-class>
		<init-param>
			<param-name>thresholdSize</param-name>
			<param-value>52428800</param-value> 
		</init-param>
		<init-param>
			<param-name>uploadDirectory</param-name>
			<param-value>/tmp/primefaces</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<!-- ReCaptcha -->
	
	<context-param>
		<param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
		<param-value>6Le37dASAAAAAJqRrYSCruu0mmog69epUSK1TBtX</param-value>
	</context-param>
		
	<context-param>
		<param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
		<param-value>6Le37dASAAAAANSTT8PDlC5dSTLNSlvq3wa7abWS</param-value>
	</context-param>
	
	<!-- Themes -->
	<!--<context-param>  
		<param-name>primefaces.THEME</param-name>  
		<param-value>bootstrap</param-value>  
	</context-param>-->
	
</web-app>
