body
{
	background-image:url("#{resource['img:bg.png']}");
}
#global
{
  /*background-image:url("#{resource['img:bg.png']}");*/
   	padding-top: 60px;
    padding-bottom: 40px;

}

.alert-normal{
  color: #9a9994;
  background-color:#fcfcfa;
  border-color:#e2e0d8;
}

.notification-image{
	position:absolute; 
	left:1px;
}

.notification-alert,
.alert-normal{
	padding: 0px 0px 0px 0px;
	
}

.notification-date{
	font-size:85%;
	text-align:right;
}

.alert-normal h2,
.alert-normal b{
	color: #333333;
}

.alert-normal .table{
	margin-bottom: 0px;
}

.alert-normal .table td{
	border-top: 0px solid #dddddd;
}

.alert-padding{
	padding: 10px 10px 0px 10px;
}



.row .centered{
	margin: 0 auto;
}

.centered-text{
	text-align:center;
}


.arrow-left,
.arrow-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.arrow-right{
  	border-left:20px solid #a4a4a4;
}


.arrow-left {
    border-right:20px solid #a4a4a4;
}

.arrow-right:hover{
    border-left:20px solid #333333;

    -webkit-transition: border-left 1000ms linear;
    -moz-transition: border-left 1000ms linear;
    -o-transition: border-left 1000ms linear;
    -ms-transition: border-left 1000ms linear;
    transition: border-left 1000ms linear;
 
}

.arrow-left:hover{
    border-right:20px solid #333333;

    -webkit-transition: border-right 1000ms linear;
    -moz-transition: border-right 1000ms linear;
    -o-transition: border-right 1000ms linear;
    -ms-transition: border-right 1000ms linear;
    transition: border-right 1000ms linear;
 
}

ul.album-list{
	list-style-type: none;
}

.numberCircle-active,
.numberCircle {
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	behavior: url(PIE.htc);
	width: 100px;
	height: 100px;
	padding: 8px;
	border: 4px solid #666;
	color: #666;
	text-align: center;
	font: 25px 'Russo One', sans-serif;
	
	background-image: linear-gradient(bottom, rgb(217,217,217) 1%, rgb(209,209,209) 25%);
	background-image: -o-linear-gradient(bottom, rgb(217,217,217) 1%, rgb(209,209,209) 25%);
	background-image: -moz-linear-gradient(bottom, rgb(217,217,217) 1%, rgb(209,209,209) 25%);
	background-image: -webkit-linear-gradient(bottom, rgb(217,217,217) 1%, rgb(209,209,209) 25%);
	background-image: -ms-linear-gradient(bottom, rgb(217,217,217) 1%, rgb(209,209,209) 25%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.01, rgb(217,217,217)),
		color-stop(0.25, rgb(209,209,209))
	);
	
}

.numberCircle-active{
	
	border: 4px solid #224052;
	color: #224052;

	
	background-image: linear-gradient(bottom, rgb(136,180,207) 47%, rgb(134,184,217) 25%);
	background-image: -o-linear-gradient(bottom, rgb(136,180,207) 47%, rgb(134,184,217) 25%);
	background-image: -moz-linear-gradient(bottom, rgb(136,180,207) 47%, rgb(134,184,217) 25%);
	background-image: -webkit-linear-gradient(bottom, rgb(136,180,207) 47%, rgb(134,184,217) 25%);
	background-image: -ms-linear-gradient(bottom, rgb(136,180,207) 47%, rgb(134,184,217) 25%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.47, rgb(136,180,207)),
		color-stop(0.25, rgb(134,184,217))
	);
	
	
}

.cog-menu{
	background:transparent url("#{resource['img:cog-menu.png']}") center top no-repeat;
}
.cog-menu:hover{
	background:transparent url("#{resource['img:cog-menu-hover.png']}") center top no-repeat;
	
}

.index-inputs{
	width: 170px;
	/*height: 15px;*/	
}

.load-icon
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.photo-title
{
	font-family: 'Lobster', cursive;
}

.polaroid {
	padding: 20px 15px 60px 15px;
	background: #fefefe;
	border: 1px solid #fff;
	-moz-box-shadow: 0px 2px 15px #333;
	-webkit-box-shadow: 0px 2px 15px #333;
	box-shadow: 0px 2px 15px #333;
	position: relative;
	z-index: 1;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}
.center-thing {
	display: block;
    margin-left: auto;
    margin-right: auto 
}
.author{
	font-family: 'Marck Script', cursive;
	margin-left: 2px
}

ul.tags{
	margin:8px 8px 8px 8px;
}
ul.tags li
{
	list-style: none;
	padding:0;
	margin:0 2px 2px 0;
	float:left
}

ul.sizes li
{
	list-style: none;
	margin-left: 0px;
}

#features {
	background: #e8e8e8;
	padding-top:50px;
	padding-bottom: 40px;
}

div.captcha
{
	margin-right:20px; 
	margin-top: 10px;
}

.thumb {
	position: relative;
    width: 260px;
    height: 260px;
    margin-top:20px;
    background-color: #FFFFFF;
}

#thumbAlbum {
	border: 2px solid #999999;
	-moz-box-shadow: 0px 0px 18px #000000;
	-webkit-box-shadow: 0px 0px 18px #000000;
	box-shadow: 0px 0px 18px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

.menuBox {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
	padding:5px;
    background: #999;
    background: rgba(0,0,0,0.7);
}

.textBox {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #999;
    background: rgba(0,0,0,0.7);
}

.text{
	text-align: center;   
    color:#FFF;
    font-size: 18px;
    margin: 10px;
}

.centeredText{
	text-align: center;   
    font-size: 32px;
}

.alignRight{
	float: right;   
}

.alignLeft{
	float: left;   
}

.thumb:hover .textBox {
    display: block;
}

.thumb:hover .menuBox {
    display: block;
}

.centered { margin: 0 auto; }

.divModalActionsLeft
{
	margin-top:5px;
	margin-bottom:5px;
	padding-left:5px;
}

.divModalActionsRight
{
	margin-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	text-align:right;
}

/* Index */

#subText{  
	margin-top:5px;
    font-size: 20px;
}

#exploreButton{
	text-align:right;
	margin-top:10px;
}

/* Explore */

.exploreTable{
	background-image:url("#{resource['img:bge.png']}");
	border: 2px solid #5e432d;
	-moz-box-shadow: 0px 0px 10px #000000;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}

.post-it-base {
	line-height:100%;
	background:#fefabc;
	padding-left:25px;
	padding-right:25px;
	padding-top:35px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size:22px;
	color: #000;
	width:200px; 
	height:180px;
	margin-top:50px;
	position: relative;
	
	box-shadow: 0px 4px 6px #333;
	-moz-box-shadow: 0px 4px 6px #333;
	-webkit-box-shadow: 0px 4px 6px #333;

}

#post-it1 {
	margin-left:50px;
	-moz-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	transform: rotate(7deg);
}

#post-it2 {
	margin-right:50px;
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.photoBox {
	margin-top:100px;
}

.polaroid2 {
	padding: 20px 15px 40px 15px;
	background: #fefefe;
	border: 1px solid #fff;
	-moz-box-shadow: 0px 2px 15px #333;
	-webkit-box-shadow: 0px 2px 15px #333;
	box-shadow: 0px 2px 15px #333;
	position: relative;
	-webkit-transition: -webkit-transform .15s linear;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}

.polaroid2:nth-child(even){
-webkit-transform: rotate(2.5deg);
-moz-transform: rotate(2.5deg);
}
 
.polaroid2:nth-child(3n){
-webkit-transform: rotate(10deg);
-moz-transform: rotate(10deg);
}
 
.polaroid2:nth-child(5n){
-webkit-transform: rotate(8deg);
-moz-transform: rotate(8deg);
}

.polaroid2:nth-child(6n-1){
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
}

.polaroid2:nth-child(8n){
-webkit-transform: rotate(5deg);
-moz-transform: rotate(5deg);
}

.polaroid2:nth-child(11n){
-webkit-transform: rotate(-1deg);
-moz-transform: rotate(-1deg);
}

.polaroid2:hover {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	position: relative;
	z-index: 5;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

.infoContainer{
	margin: 10px;
}

.photoTitle{
	font-family: 'Handlee', cursive;
	font-size: 18px;
	text-align: center;
}

.linkTo{
	color: blue;
	text-decoration:underline;
}

/* LOGO */
.logo{
    margin: 50px;
    width: 320px;
    min-height: 150px;
    padding: 0 0 1px 0;
    position:relative;
    background: #fff;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
    background: -moz-linear-gradient(0 0 270deg, #fff, #fff 10%, #f3f3f3);
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
 
/* Top left tape */
.logo:before{
    content: '';
    position:absolute;
    width: 130px;
    height: 30px;
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
    background: -moz-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -webkit-transform:translate(-50px,10px)
                        skew(10deg,10deg)
                        rotate(-50deg);
    -moz-transform:translate(-50px,10px)
                        skew(10deg,10deg)
                        rotate(-50deg);
        -o-transform:translate(-50px,10px)
                        skew(10deg,10deg)
                        rotate(-50deg);
        transform:translate(-50px,10px)
                        skew(10deg,10deg)
                        rotate(-50deg);
}
 
/* Top bottom right tape */
.logo:after{
    content: '';
    position:absolute;
    right:0;
    bottom:0;
    width: 130px;
    height: 30px;
    background: rgba(0, 0, 0, 0.1);
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
    background: -moz-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(50px,-20px)
                        skew(10deg,10deg)
                        rotate(-50deg);
    -moz-transform: translate(50px,-20px)
                        skew(10deg,10deg)
                        rotate(-50deg);
    -o-transform: translate(50px,-20px)
                        skew(10deg,10deg)
                        rotate(-50deg);
    transform: translate(50px,-20px)
                        skew(10deg,10deg)
                        rotate(-50deg)
}


/* Photowers */

#boxwers {
	width: auto;
	height: auto;
	border: 1px solid #FFFFFF;
	text-align: center;  
	background-color: #FFFFFF;
}

#separator {
  border-bottom: 1px solid #EEE;
}
