body
{
	background-image:url("#{resource['img:bg.png']}");
	margin-top: 20px;
}
#global
{
  /*background-image:url("#{resource['img:bg.png']}");*/
   	padding-top: 60px;
    padding-bottom: 40px;
}

.bold{
	font-weight:bold;
}

#navUsername{
	font-weight:bold;
	color: #FFFFFF;
}

.footer{
	font-size: 10px;
	text-align: center;
	color: #857F81;
}
		
hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.settings{
	margin-top: 10px;
	padding: 25px;
}

.sTitle{
	font-weight:bold;
	padding-left: 10px;
}

.alert-normal{
  color: #9a9994;
  background-color:#fcfcfa;
  border-color:#e2e0d8;
}

.notification-image{
	position:absolute; 
	left:1px;
}

.notification-alert,
.alert-normal{
	padding: 0px 0px 0px 0px;
	
}

.notification-date{
	font-size:85%;
	text-align:right;
}

.alert-normal h2,
.alert-normal b{
	color: #333333;
}

.alert-normal .table{
	margin-bottom: 0px;
}

.alert-normal .table td{
	border-top: 0px solid #dddddd;
}

.alert-padding{
	padding: 10px 10px 0px 10px;
}

.row .centered{
	margin: 0 auto;
}

.centered-text{
	text-align:center;
}

.arrow-left,
.arrow-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.arrow-right{
  	border-left:20px solid #a4a4a4;
}


.arrow-left {
    border-right:20px solid #a4a4a4;
}

.arrow-right:hover{
    border-left:20px solid #333333;

    -webkit-transition: border-left 1000ms linear;
    -moz-transition: border-left 1000ms linear;
    -o-transition: border-left 1000ms linear;
    -ms-transition: border-left 1000ms linear;
    transition: border-left 1000ms linear;
 
}

.arrow-left:hover{
    border-right:20px solid #333333;

    -webkit-transition: border-right 1000ms linear;
    -moz-transition: border-right 1000ms linear;
    -o-transition: border-right 1000ms linear;
    -ms-transition: border-right 1000ms linear;
    transition: border-right 1000ms linear;
 
}

ul.album-list{
	list-style-type: none;
}

.numberCircle-active,
.numberCircle {
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	behavior: url(PIE.htc);
	width: 100px;
	height: 100px;
	padding: 8px;
	border: 4px solid #666;
	color: #666;
	text-align: center;
	font: 25px 'Russo One', sans-serif;
	
	background-image: linear-gradient(bottom, rgb(217,217,217) 1%, rgb(209,209,209) 25%);
	background-image: -o-linear-gradient(bottom, rgb(217,217,217) 1%, rgb(209,209,209) 25%);
	background-image: -moz-linear-gradient(bottom, rgb(217,217,217) 1%, rgb(209,209,209) 25%);
	background-image: -webkit-linear-gradient(bottom, rgb(217,217,217) 1%, rgb(209,209,209) 25%);
	background-image: -ms-linear-gradient(bottom, rgb(217,217,217) 1%, rgb(209,209,209) 25%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.01, rgb(217,217,217)),
		color-stop(0.25, rgb(209,209,209))
	);
	
}

.numberCircle-active{
	
	border: 4px solid #224052;
	color: #224052;

	
	background-image: linear-gradient(bottom, rgb(136,180,207) 47%, rgb(134,184,217) 25%);
	background-image: -o-linear-gradient(bottom, rgb(136,180,207) 47%, rgb(134,184,217) 25%);
	background-image: -moz-linear-gradient(bottom, rgb(136,180,207) 47%, rgb(134,184,217) 25%);
	background-image: -webkit-linear-gradient(bottom, rgb(136,180,207) 47%, rgb(134,184,217) 25%);
	background-image: -ms-linear-gradient(bottom, rgb(136,180,207) 47%, rgb(134,184,217) 25%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.47, rgb(136,180,207)),
		color-stop(0.25, rgb(134,184,217))
	);
	
	
}

.cog-menu{
	background:transparent url("#{resource['img:cog-menu.png']}") center top no-repeat;
}
.cog-menu:hover{
	background:transparent url("#{resource['img:cog-menu-hover.png']}") center top no-repeat;
	
}

.index-inputs{
	width: 170px;
	/*height: 15px;*/	
}

.load-icon
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.photo-title
{
	font-family: 'Lobster', cursive;
}

.polaroid {
	padding: 20px 15px 60px 15px;
	background: #fefefe;
	border: 1px solid #fff;
	-moz-box-shadow: 0px 2px 15px #333;
	-webkit-box-shadow: 0px 2px 15px #333;
	box-shadow: 0px 2px 15px #333;
	position: relative;
	z-index: 1;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}
.center-thing {
	display: block;
    margin-left: auto;
    margin-right: auto 
}
.author{
	font-family: 'Marck Script', cursive;
	margin-left: 2px
}

ul.tags{
	margin:8px 8px 8px 8px;
}
ul.tags li
{
	list-style: none;
	padding:0;
	margin:0 2px 2px 0;
	float:left
}

ul.sizes li
{
	list-style: none;
	margin-left: 0px;
}

#features {
	background: #e8e8e8;
	padding-top:50px;
	padding-bottom: 40px;
}

div.captcha
{
	margin-right:20px; 
	margin-top: 10px;
}

.centered { margin: 0 auto; }

/* ALBUMS & PHOTOS */

.ribbon {
   width: 600px;
   position: absolute;
   text-align: center;
   font-size: 21px!important;
   background: #635b5b;
   background: -webkit-gradient(linear, left top, left bottom, from(#635b5b), to(#3d3737));
   background: -webkit-linear-gradient(top, #635b5b, #3d3737);
   background: -moz-linear-gradient(top, #635b5b, #3d3737);
   background: -ms-linear-gradient(top, #635b5b, #3d3737);
   background: -o-linear-gradient(top, #635b5b, #3d3737);
   background-image: -ms-linear-gradient(top, #635b5b 0%, #3d3737 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
   }
.ribbon h1 {
   font-size: 25px!important;
   color: #ffffff;
   text-shadow: #000000 0 1px 0;
   margin:0px;
   padding: 15px 10px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #3d3737;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #332e2e transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }
.ribbon-container{
	margin-left: auto;   
	margin-right: auto; 
	width: 600px;
}
.box{
	margin-top: 100px;	
}

.thumb {
	position: relative;
    width: 260px;
    height: 260px;
    margin-top:20px;
    background-color: #FFFFFF;
}

#thumbAlbum {
	border: 2px solid #999999;
	-moz-box-shadow: 0px 0px 18px #000000;
	-webkit-box-shadow: 0px 0px 18px #000000;
	box-shadow: 0px 0px 18px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

.menuBox {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
	padding:5px;
    background: #999;
    background: rgba(0,0,0,0.7);
}

.textBox {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #999;
    background: rgba(0,0,0,0.7);
}

.text{
	text-align: center;   
    color:#FFF;
    font-size: 18px;
    margin: 10px;
}

.centeredText{
	text-align: center;   
    font-size: 32px;
}

.alignRight{
	float: right;   
}

.alignLeft{
	float: left;   
}

.thumb:hover .textBox {
    display: block;
}

.thumb:hover .menuBox {
    display: block;
}

.divModalActionsLeft
{
	margin-top:5px;
	margin-bottom:5px;
	padding-left:5px;
}

.divModalActionsRight
{
	margin-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	text-align:right;
}

/* INDEX */

#subText{  
	margin-top:5px;
    font-size: 20px;
}

#exploreButton{
	text-align:right;
	margin-top:10px;
}

/* EXPLORE */

.exploreTable{
	background-image:url("#{resource['img:bge.png']}");
	border: 2px solid #5e432d;
	-moz-box-shadow: 0px 0px 10px #000000;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}

.post-it-base {
	line-height:100%;
	background:#fefabc;
	padding-left:25px;
	padding-right:25px;
	padding-top:35px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size:22px;
	color: #000;
	width:200px; 
	height:180px;
	margin-top:50px;
	position: relative;
	
	box-shadow: 0px 4px 6px #333;
	-moz-box-shadow: 0px 4px 6px #333;
	-webkit-box-shadow: 0px 4px 6px #333;

}

#post-it1 {
	margin-left:50px;
	-moz-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	transform: rotate(7deg);
}

#post-it2 {
	margin-right:50px;
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.photoBox {
	margin-top:100px;
}

.polaroid2 {
	padding: 20px 15px 40px 15px;
	background: #fefefe;
	border: 1px solid #fff;
	-moz-box-shadow: 0px 2px 15px #333;
	-webkit-box-shadow: 0px 2px 15px #333;
	box-shadow: 0px 2px 15px #333;
	position: relative;
	-webkit-transition: -webkit-transform .15s linear;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}

.polaroid2:nth-child(even){
-webkit-transform: rotate(2.5deg);
-moz-transform: rotate(2.5deg);
}
 
.polaroid2:nth-child(3n){
-webkit-transform: rotate(10deg);
-moz-transform: rotate(10deg);
}
 
.polaroid2:nth-child(5n){
-webkit-transform: rotate(8deg);
-moz-transform: rotate(8deg);
}

.polaroid2:nth-child(6n-1){
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
}

.polaroid2:nth-child(8n){
-webkit-transform: rotate(5deg);
-moz-transform: rotate(5deg);
}

.polaroid2:nth-child(11n){
-webkit-transform: rotate(-1deg);
-moz-transform: rotate(-1deg);
}

.polaroid2:hover {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	position: relative;
	z-index: 5;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

.infoContainer{
	margin: 10px;
}

.photoTitle{
	font-family: 'Handlee', cursive;
	font-size: 18px;
	text-align: center;
}

.linkTo{
	color: blue;
	text-decoration:underline;
}

/* Logo */
.logo{
    margin: 50px;
    width: 320px;
    min-height: 150px;
    padding: 0 0 1px 0;
    position:relative;
    background: #fff;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
    background: -moz-linear-gradient(0 0 270deg, #fff, #fff 10%, #f3f3f3);
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
 
/* Top left tape */
.logo:before{
    content: '';
    position:absolute;
    width: 130px;
    height: 30px;
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
    background: -moz-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -webkit-transform:translate(-50px,10px)
                        skew(10deg,10deg)
                        rotate(-50deg);
    -moz-transform:translate(-50px,10px)
                        skew(10deg,10deg)
                        rotate(-50deg);
        -o-transform:translate(-50px,10px)
                        skew(10deg,10deg)
                        rotate(-50deg);
        transform:translate(-50px,10px)
                        skew(10deg,10deg)
                        rotate(-50deg);
}
 
/* Top bottom right tape */
.logo:after{
    content: '';
    position:absolute;
    right:0;
    bottom:0;
    width: 130px;
    height: 30px;
    background: rgba(0, 0, 0, 0.1);
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
    background: -moz-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(50px,-20px)
                        skew(10deg,10deg)
                        rotate(-50deg);
    -moz-transform: translate(50px,-20px)
                        skew(10deg,10deg)
                        rotate(-50deg);
    -o-transform: translate(50px,-20px)
                        skew(10deg,10deg)
                        rotate(-50deg);
    transform: translate(50px,-20px)
                        skew(10deg,10deg)
                        rotate(-50deg)
}

/* PHOTOWERS */

#boxwers {
	width: auto;
	height: auto;
	border: 1px solid #FFFFFF;
	text-align: center;  
	background-color: #FFFFFF;
}

#separator {
  border-bottom: 1px solid #EEE;
}

/* LOGIN */

.form-container {
   border: 2px solid #0a131a;
   background: #4d5d75;
   background: -webkit-gradient(linear, left top, left bottom, from(#9cbcd6), to(#4d5d75));
   background: -webkit-linear-gradient(top, #9cbcd6, #4d5d75);
   background: -moz-linear-gradient(top, #9cbcd6, #4d5d75);
   background: -ms-linear-gradient(top, #9cbcd6, #4d5d75);
   background: -o-linear-gradient(top, #9cbcd6, #4d5d75);
   background-image: -ms-linear-gradient(top, #9cbcd6 0%, #4d5d75 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:300px;
   margin-left: auto;   
   margin-right: auto; 
   }
.form-field {
   border: 0px solid #0b121c;
   background: #d5d5f5;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #a3a0a3;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #fff;
   color: #000000;
   }
.form-container h2 {
   text-shadow: #7175ab 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #2d3961;
   text-shadow: #7175ab 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:center;
   }
.submit-button {
   border: 1px solid #447314;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #31540c;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   }
   
/* REGISTER */

.register-form-container {
   border: 1px solid #0a131a;
   background: #bac3cf;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#bac3cf));
   background: -webkit-linear-gradient(top, #ffffff, #bac3cf);
   background: -moz-linear-gradient(top, #ffffff, #bac3cf);
   background: -ms-linear-gradient(top, #ffffff, #bac3cf);
   background: -o-linear-gradient(top, #ffffff, #bac3cf);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #bac3cf 100%);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:540px;
   padding:20px;
   width:540px;
   margin-left: auto;   
   margin-right: auto; 
   }
.register-form-container h2 {
   text-shadow: #9c9c9e 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
   }
.register-form-title {
   margin-top:10px;
   margin-bottom:3px;
   color: #111214;
   text-shadow: #9c9c9e 0 1px 0;
   }
.register-submit-container {
   margin:8px 0;
   text-align:center;
   }
.register-user-info{
   padding-right: 40px;
   }
.register-user-account{
   padding-left: 40px;
   }
.register-vertical-hr{
	border-left: 2px solid #999999; 
	width:1px;
	height:200px;
	}
	
/* PHOTO SETTINGS */

.photo-settings-container{
	margin-left: auto;   
    margin-right: auto; 
    width: 500px;
}
.photo-settings-title{
	margin-left: auto;   
  	margin-right: auto; 
  	text-align:center;
}
.photo-settings-label{
	margin-top: 10px;   
	margin-bottom: 6px;   
}
.photo-settings-text{  
	font-weight:bold;
	font-size:14px;
}
.photo-settings-submit-container{
   margin:8px 0;
   text-align:center;
   }
.marginLeft{
	margin-left:10px;
}

/* PROFILE */

.profile-info-container {
   border: 0px solid #000000;
   background: #111b2e;
   background: -webkit-gradient(linear, left top, left bottom, from(#3f4f70), to(#111b2e));
   background: -webkit-linear-gradient(top, #3f4f70, #111b2e);
   background: -moz-linear-gradient(top, #3f4f70, #111b2e);
   background: -ms-linear-gradient(top, #3f4f70, #111b2e);
   background: -o-linear-gradient(top, #3f4f70, #111b2e);
   background-image: -ms-linear-gradient(top, #3f4f70 0%, #111b2e 100%);
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:auto;
   padding:20px;
   width:auto;
   }
.profile-user-container {
   border: 0px solid #000000;
   background: #929eab;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#929eab));
   background: -webkit-linear-gradient(top, #ffffff, #929eab);
   background: -moz-linear-gradient(top, #ffffff, #929eab);
   background: -ms-linear-gradient(top, #ffffff, #929eab);
   background: -o-linear-gradient(top, #ffffff, #929eab);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #929eab 100%);
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:auto;
   padding:30px;
   width:auto;
   }
.profile-user-info-label{
   font-weight:bold;
   font-size:14px;
   color: #3f3f42;
   }
.profile-user-info-text{
   font-size:14px;
   padding-left: 10px;
   }

/* PHOTO DETAIL */
.user-container {
   border: 0px solid #000000;
   background: #b8b8b8;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b8b8b8));
   background: -webkit-linear-gradient(top, #ffffff, #b8b8b8);
   background: -moz-linear-gradient(top, #ffffff, #b8b8b8);
   background: -ms-linear-gradient(top, #ffffff, #b8b8b8);
   background: -o-linear-gradient(top, #ffffff, #b8b8b8);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #b8b8b8 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:auto;
   padding:20px;
   width:auto;
   }

.photo-info-container {
   border: 0px solid #000000;
   background: #757575;
   background: -webkit-gradient(linear, left top, left bottom, from(#b8b8b8), to(#757575));
   background: -webkit-linear-gradient(top, #b8b8b8, #757575);
   background: -moz-linear-gradient(top, #b8b8b8, #757575);
   background: -ms-linear-gradient(top, #b8b8b8, #757575);
   background: -o-linear-gradient(top, #b8b8b8, #757575);
   background-image: -ms-linear-gradient(top, #b8b8b8 0%, #757575 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:auto;
   padding:20px;
   width:auto;
   }

.more-photos-container{
   border: 0px solid #000000;
   background: #262626;
   background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#262626));
   background: -webkit-linear-gradient(top, #757575, #262626);
   background: -moz-linear-gradient(top, #757575, #262626);
   background: -ms-linear-gradient(top, #757575, #262626);
   background: -o-linear-gradient(top, #757575, #262626);
   background-image: -ms-linear-gradient(top, #757575 0%, #262626 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:auto;
   padding:10px;
   width:auto;
   }

.more-photos-title{
   font-weight:bold;
   color: #FFFFFF;
   margin-bottom:5px;
}

.buttons{
	margin-top:15px;
}
.pre-whitebg{
   background: #FFFFFF;
}

.ribbon-photo {
   width: 500px;
   position: absolute;
   text-align: center;
   font-size: 21px!important;
   background: #635b5b;
   background: -webkit-gradient(linear, left top, left bottom, from(#635b5b), to(#3d3737));
   background: -webkit-linear-gradient(top, #635b5b, #3d3737);
   background: -moz-linear-gradient(top, #635b5b, #3d3737);
   background: -ms-linear-gradient(top, #635b5b, #3d3737);
   background: -o-linear-gradient(top, #635b5b, #3d3737);
   background-image: -ms-linear-gradient(top, #635b5b 0%, #3d3737 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
   }
.ribbon-photo h1 {
   font-size: 25px!important;
   color: #ffffff;
   text-shadow: #000000 0 1px 0;
   margin:0px;
   padding: 15px 10px;
   }
.ribbon-photo:before, .ribbon-photo:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #3d3737;
   z-index: -1;
   }
.ribbon-photo:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon-photo:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon-photo .ribbon-content-photo:before, .ribbon-photo .ribbon-content-photo:after {
   border-color: #332e2e transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon-photo .ribbon-content-photo:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon-photo .ribbon-content-photo:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top-photo {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom-photo {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }
.ribbon-container-photo{
	margin-left: auto;   
	margin-right: auto; 
	margin-bottom: 90px;
	width: 500px;
}

/* CONECTIONS */

.conections-container {
   margin-left: auto;   
   margin-right: auto; 
   }
.errorText{
   font-size:16px;
   color: #000000;
}

.connections-top{
	padding-top: 100px;
}