body
{
  	background-image:url("#{resource['img:bg.png']}");
	padding-top: 20px;
   	padding-bottom: 20px;

}

.container
{
	background-image:url("#{resource['img:bg_container.png']}");
	
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 7px #000000;
	-webkit-box-shadow: 0px 0px 7px #000000;
	box-shadow: 0px 0px 7px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	
}

.load-icon
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}